*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/beauty/build
beauty/build/generated/assets/
beauty/build/generated/res/
beauty/build/generated/source/aidl/
beauty/build/generated/source/apt/
beauty/build/generated/source/rs/
beauty/build/intermediates/annotations/
beauty/build/intermediates/bundles/debug/aidl/
beauty/build/intermediates/bundles/debug/libs/
beauty/build/intermediates/bundles/release/aidl/
beauty/build/intermediates/bundles/release/libs/
beauty/build/intermediates/dependency-cache/
beauty/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.3.1/res/
beauty/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-compat/25.3.1/res/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.3.1/res/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.3.1/res/
beauty/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-fragment/25.3.1/res/
beauty/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.3.1/res/
beauty/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-v4/25.3.1/res/
beauty/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/aidl/
beauty/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/assets/
beauty/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/jni/
beauty/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/libs/
beauty/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.3.1/res/
beauty/build/intermediates/exploded-aar/ti-sdk/values-zh/
beauty/build/intermediates/exploded-aar/ti-sdk/values/
beauty/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
beauty/build/intermediates/incremental/mergeDebugResources/aapt-temp/
beauty/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
beauty/build/intermediates/incremental/mergeReleaseResources/merged.dir/
beauty/build/intermediates/incremental/packageDebugAndroidTest/
beauty/build/intermediates/incremental/packageDebugResources/aapt-temp/
beauty/build/intermediates/incremental/packageReleaseResources/aapt-temp/
beauty/build/intermediates/incremental/packageReleaseResources/merged.dir/
beauty/build/intermediates/incremental/processDebugAndroidTestResources/
beauty/build/intermediates/incremental/processDebugResources/
beauty/build/intermediates/incremental/processReleaseResources/
beauty/build/intermediates/lint/
beauty/build/intermediates/manifest/tmp/
beauty/build/intermediates/rs/
beauty/build/intermediates/shaders/
beauty/build/intermediates/transforms/mergeJavaRes/
beauty/build/tmp/
